body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color: rgb(70, 68, 68);
}
.note-btn{
    transition: 1s;
}
.note-btn:hover{
    background-color: #dce0e2;
}
#delete{
    cursor: pointer;
}
main{
    min-height: calc(113vh - 224px - 24px);
}
.login{
    min-height: calc(107vh - 224px - 24px);
}
/* mobile responsibel */
/* @media only screen and (max-width: 480px)  {
    #note-btn{
        padding: 11px 132px !important;
    }

} */